.btn-login, .btn-logout {
    background-color: #a59b6d;
    border: none;
    width: 150px;
    padding: 10px 18px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

h1 {
    font-size: 36px;
    line-height: 1.4;
    font-weight: 100;
}

h1 strong {
    font-weight: bold;
    color: white;
}

.sub {
    font-size: 16px;
    margin-top: 12px;
    color: #ddd;
}

.search-bar {
    margin: 40px auto;
    max-width: 650px;
    background-color: #fdf9f4;
    border-radius: 12px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.search-bar .search-icon {
    font-size: 18px;
    color: #a59b6d;
    padding: 0 14px;
    border-right: 1px solid #a59b6d;
}

.search-bar input {
    flex: 1;
    border: none;
    padding: 18px;
    font-size: 16px;
    outline: none;
    color: #555;
}

.search-bar button {
    background-color: #a59b6d;
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 120px;
    padding: 18px 20px;
    margin: 0px 3px 0px 0px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.card {
    width: 230px;
    border-radius: 12px;
    padding: 18px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-text h3 {
    font-size: 18px;
    color: white;
}

.card-text p {
    font-size: 14px;
    color: white;
}

.card-text span {
    font-weight: bold;
}

.card.green {
    background-color: #3c734b;
}

.card.white {
    background-color: #fdf9f4;
    color: #333;
}

.card.white h3,
.card.white p {
    color: #333;
}

.card.olive {
    background-color: #999661;
}  